#contact iframe
{
    width: 100%;
}
.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}
 
input
{
    background: grey
}

.traveldiv 
{border:2px solid grey;
padding:10px;
margin-bottom: 10px;}

.movie_head
{font-size: 20px;
padding: 10px;
margin: 10px;
border-radius: 10px;}

.movie_head i
{float: right;}

.movie_text span
{color: orange;}